
    <!-- Bootstrap 5.3.3 JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Quill text-editor JS -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/main.js"></script>
    </body>

    </html>