    <footer>
      &copy; Copyright <?php echo date("Y"); ?>
    </footer>

    <!-- Bootstrap 5.3.3 JS -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="./assets/js/main.js"></script>
    </body>

    </html>