<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Event Management System</title>

  <!-- Bootstrap 5.3.3 CSS -->
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>