<nav class="navbar sticky-top navbar-expand-lg border-bottom">
  <div class="container-lg">
    <a class="navbar-brand" href="{{ url('home') }}">
      <img src="/public/logo.svg" height="24" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url('home') }}">Home</a>
        </li>
      </ul>
      <a href="{{ url('sign-in') }}" class="btn btn-primary d-flex ms-auto">Sign in</a>
    </div>
  </div>
</nav>