{% include 'partials/header.twig' %}

<div class="d-flex vh-100 overflow-hidden">
  {% include '/dashboard/partials/sidebar.twig' %}

  <div class="d-flex flex-column flex-fill overflow-y-auto">
    {% include '/dashboard/partials/header.twig' %}
    <main class="p-4 flex-fill">
      {% block content %}

      {% endblock %}
    </main>
  </div>
</div>

{% include 'partials/footer.twig' %}
