{% extends 'layouts/app.twig' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center gap-4 mb-4">
    <h2 class="mb-4">Users</h2>
    <a href="{{ url('events.create') }}" class="btn btn-primary d-flex align-items-center gap-2" type="button">
      <i class="fa-solid fa-plus" style="font-size: 16px;"></i>
      <span>Create New</span>
    </a>
  </div>

  <!-- Search -->
  <form style="max-width: 350px;">
    <div class="input-group mb-3">
      <input type="search" class="form-control" placeholder="Search name or email..." aria-label="User's name or email" aria-describedby="search-input" />
      <button class="btn btn-primary" type="submit" id="search-input"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
  <div class="table-responsive mb-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Joining Date</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <!-- Pagination -->
  <nav aria-label="pagination" class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
{% endblock %}
