{% extends "layouts/guest.twig" %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 bg-body-tertiary border-bottom">
      <div class="container-lg py-4 py-md-5 text-center">
        <h1 class="display-5 fw-medium">Discover Your Next Unforgettable Experience</h1>
        <p class="col-md-8 fs-4 fw-light mx-auto">Explore a diverse range of events happening near you. Find concerts, workshops, festivals, and more, all in one place.</p>
      </div>
    </div>
{% endblock %}