/* === Global === */
ul {
  padding: 0;
}
ul li {
  list-style: none;
}

table th,
table td {
  white-space: nowrap;
}

/* Form */
.input-error {
  font-size: 0.875em;
  font-weight: 500;
  margin-top: 0.25rem !important;
}
.input-error::first-letter {
  text-transform: capitalize;
}

/* Quill rich editor */
.ql-editor {
  min-height: 300px;
}
.ql-toolbar {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
.ql-toolbar.ql-snow {
  border-color: var(--bs-border-color);
}
#editor {
  border-color: var(--bs-border-color);
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  background-color: var(--bs-body-bg);
  font-size: 1rem;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #777;
}
.ql-snow .ql-stroke {
  stroke: #777;
}
.ql-snow .ql-picker {
  color: #777;
}

/* === Dashboard === */

/* Sidebar */
.d-sidebar {
  width: 300px;
  height: 100vh;
}
.d-sidebar-header {
  height: 64px;
}
.d-sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 0.375rem;
}
.d-sidebar-link:hover {
  background-color: #212529;
}
.d-sidebar-icon {
  width: 20px;
  height: 20px;
}
.d-sidebar-link.active {
  background-color: #212529;
}

/* Header */
.d-header {
  height: 64px;
}

/* Events */
.event-table-action .dropdown-toggle::after {
  content: none;
}
