<header class="sticky-top d-flex align-items-center justify-content-between px-4 py-2 bg-body-tertiary border-bottom flex-shrink-0 d-header">
  <button type="button" class="btn btn-dark"><i class="fa-solid fa-bars"></i></button>
</header>
