<aside class="d-sidebar d-flex flex-column flex-shrink-0 bg-body-tertiary border-end">
  <!-- Sidebar Header -->
  <div class="d-sidebar-header p-4 d-flex align-items-center justify-content-center flex-shrink-0 border-bottom">
    <a class="navbar-brand" href="{{ url('dashboard') }}"><img src="/public/logo.svg" height="24" alt="" /></a>
  </div>

  <!-- Sidebar Menu -->
  <nav class="overflow-y-auto w-full p-4">
    <ul></ul>
  </nav>
</aside>
